.header{
background: blueviolet ;
width: 100% ;
position: fixed ;   
}

.smallbar{
display: flex;
align-items: center;
justify-content: space-between;
height: 64px;
padding: 0 24px;
}

.main{
    height: 100 vh;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    
}

.navbar{
width: 350 px;
background: pink;
padding: 24 px;
}

.feed{
    width: 100%;
    background: burlywood;
    padding: 24 px;   
}